.container {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.btn-save {
  background-color: aqua;
  border-color: blue;
}
.btn-return {
  background-color: blanchedalmond;
  border-color: black;
}
